*{
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
*:hover {
    border-style: dotted;
    border-width: 2px;
    border-color: #fff;
    /* background-color: #fff; */
}
html{
    background-color: #e2e1e4;
}
#documentElement{
    /* https://www.cnblogs.com/chendc/p/9298832.html */
    font: 8px "sans-serif";
}
img {
    max-width: 64px;
    max-height: 64px;
}
/** 使用 flew *-content
  * 子元素自动压缩，不会产生 overflow
*/
.box-avatar {
    display: flex;
    flex-wrap: wrap;
    place-content: center center;/*可代替下面俩 接受 1 or 2 值*/
    align-content: center;/*垂直居中 对 flex-wrap: nowarp 无效*/
    justify-content: center;/*水平居中 对 display: block 无效*/
    width: 160px;
    height: 80px;
    background-color: aqua;
}
.avatar {
    margin: auto;
    /*水平居中 这条属性可代替 *-content */
    width: 100%;
    height: 100%;
    background-color: #baccd9;
    border-radius: 8%;
}
#inline-block-ico {
    /* https://zhuanlan.zhihu.com/p/35848175
     * font-size: 0; 在IE7及以下浏览器依然会残留1px的间隙
    */
    font-size: 0;
    -webkit-text-size-adjust:none;/*支持chrome 不支持Safari*/
}
/** 使用 inline-block 行内块元素布局 
  * 父元素为相对定位，子元素设置绝对定位
  * 子元素未知高度和宽度
*/
.box-aaaa {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.aaaa {
    position: absolute;
    max-width: 95%;
    max-height: 95%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}